NEXT_PUBLIC_SUPABASE_URL=https://csufywyfavlgndioajqt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNzdWZ5d3lmYXZsZ25kaW9hanF0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwNDEyMTcsImV4cCI6MjA5MDYxNzIxN30.2QsfJq9tver80MXCZyTl_QZ9h5RHBAd4abi1sV09tw4
NEXT_PUBLIC_ADMIN_EMAIL=online.upskill.dev@gmail.com
NEXT_PUBLIC_SITE_URL=https://infonet-flax.vercel.app
NEXT_PUBLIC_SUPABASE_THUMBNAILS_BUCKET=post-images
